<div class="row">
  <div class="col-md-12 text-center">
    <%= link_to "home", "/" %>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <h1><%= @user.name %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
      <%= @user.bio %>
  </div>
</div>
<!-- <div class="row">
  <div class="col-md-12 text-center">
      Color: <%= @user.color %>
  </div>
</div> -->
<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-1">
    <%= link_to "Edit user", edit_user_path(:user_id => params[:id]) %>
  </div>
  <div class="col-md-1">
    <%= link_to "Calendar", user_events_path(:user_id => params[:id]) %>
  </div>
  <div class="col-md-5"></div>
</div>
