<!-- <div class="row nav-class">
  <div class="col-md-5"></div>
  <div class="col-md-1 text-center">
    <%= link_to "home", "/", class: "nav-link" %>
  </div>
  <div class="col-md-1 text-center">
    <%= link_to @user.name.downcase, user_path(id: @user.id), class: "nav-link" %>
  </div>
  <div class="col-md-5"></div>
</div> -->

<%= render partial:"nav" %>

<div class="row">
  <div class="col-md-12 text-center">
    <div class="">

      <h1 class="month-header"><%= "#{@date.strftime("%B")}" %></h1>

      <%= link_to user_events_path(user_id: params[:user_id], date: @date - 1.month), class: "btn btn-default month-button" do %>
        <span class="glyphicon glyphicon-chevron-left month-button" aria-hidden="true"></span>
      <% end %>
      <span class="year-header"><%= "#{@date.year}" %></span>
      <%= link_to user_events_path(user_id: params[:user_id], date: @date + 1.month), class: "btn btn-default month-button" do %>
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <%= calendar @date do |date| %>
      <!-- This creates a link to add a new event from the number of the date in each cell, kind of confusing for the user -->
      <!-- <%= link_to date.day, new_user_event_path(:user_id => @user.id, :cal_date => date)  %> -->
      <%= date.day %>
      <% @events.each do |event| %>
        <% if event.event_date.day == date.day && event.event_date.month == date.month %>
          <p><%= link_to event.name, user_event_path(:user_id => @user.id, :id => event.id), class: "event-link" %></p>
        <% end %>
      <% end %>
      <!-- This adds a + to each calendar cell to add a new event. It is ugly and isn't ideal.
      <%= link_to "+", new_user_event_path(:user_id => @user.id, :cal_date => date)  %> -->
    <% end %>
  </div>
  <div class="col-md-1"></div>
</div>

<!-- This is a general link to add an event, but users must enter in each field, which is a little annoying -->
<div class="row">
  <div class="col-md-12 text-center">
    <%= link_to "Add event", new_user_event_path(:user_id => @user.id, :cal_date => @date), class: "add-link" %>
  </div>
</div>
