<div class="row">
  <div class="col-md-12 text-center">
    <%= link_to "home", "/", class:"nav-link" %>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <hr>
  </div>
  <div class="col-md-1"></div>
</div>


<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="month-header"><%= @event.name %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
      <p class="event-description"><%= @event.description %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
      <%= @event.event_date.strftime("%D") %>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
      <%= @event.event_date.strftime("%I:%M %p") %>
  </div>
</div>

<div class="button-container">
    <%= link_to "Edit event", edit_user_event_path(:user_id => @event.user_id, :id => @event.id), class:"user-button gray-button" %>
    <%= link_to "Delete event", user_event_path(:user_id => @event.user_id, :id => @event.id), method: :delete, class:"user-button" %>
</div>
